img.hc {
	display: none;
}

@media (max-width: 900px) {
	img.hc {
		display: block;
		width: 40px;
		margin-top: -10px;
	}

	img.logo {
		display: none;
	}
}

.photo-content .cover-photo {
	background: url(../images/cover.jpg);
	background-size: cover;
	background-position: center;
	min-height: 15.625rem;
	width: 100%;
}
